.outline:hover {
  text-decoration: underline;
}

.footer__content {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding: 0 120px 80px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid #e5e5e5;
  padding: 35px 0;
}

.footer__slogan {
  margin: 0;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
}

.footer__logo {
  width: 177px;
  height: 50px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  max-width: 326px;
  gap: 30px;
}

.footer__socials {
  display: flex;
  width: 180px;
  justify-content: space-between;
  align-items: baseline;
}

.footer__link {
  margin: 0;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
}

.footer__link_title {
  margin: 0;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292f36;
}

.copyright_text {
  margin: 0;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
}

.copyright_text_name {
  margin: 0;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #cda274;
}
