.join {
  background: #292f36;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 120px 80px;
  padding: 100px 0;
}

.join__title {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #ffffff;
  margin: 0;
}

.join__subtitle {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  margin: 10px 0 30px;
  color: #ffffff;
}

.join__button {
  display: flex;
  align-items: center;
  width: 200px;
  gap: 20px;
  justify-content: center;
  box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  text-decoration: none;
  background: #cda274;
  border: 2px solid #cda274;
  box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
}

.button__text {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #ffffff;
}
